---
import type { GetStaticPaths } from "astro";
import { getConfig } from "@/lib/config";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { render } from "astro:content";
import { slugify } from "@/utils";

export const getStaticPaths = (async () => {
  const { vaults } = getConfig();
  const paths = [];

  const entries = await getCollection("obsidianNotes");
  for (const { repo } of vaults) {
    try {
      for (const entry of entries.filter((note) => note.data.repo === repo)) {
        paths.push({
          params: {
            vault: slugify(repo),
            slug: entry.id === "index.md" ? undefined : entry.data.slug,
          },
          props: {
            entry,
          },
        });
      }
    } catch (error) {
      console.error(`The vault collection: ${repo} not available`);
    }
  }

  return paths;
}) satisfies GetStaticPaths;

// const { vault, slug } = Astro.params
const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout>
  <article class="container mx-auto p-4 prose prose-slate">
    <h1>{entry.data.title}</h1>

    <Content />
  </article>
</Layout>
