---
import { getAllNotes } from '@/lib/marksman';
import Layout from '../layouts/Layout.astro';
import {getConfig} from '@/lib/config'
const notes = await getAllNotes()
const config = getConfig()
---
<Layout>
  <h1>Valut config</h1>
  <pre>
    {JSON.stringify(config)}
  </pre>

</Layout>
