---
import { getCollection } from "astro:content";
import { getConfig } from "../lib/config";
import { buildNavTree, slugify, getRelativeTree } from "@/utils";
const config = getConfig();

// Load all collections
const collections = await getCollection("obsidianNotes");
const repoCol = collections.filter(
  (collection) => collection.data.repo === config.vaults[0].repo,
);
const tree = buildNavTree(repoCol);
const relTree = getRelativeTree(
  tree,
  "unboundedTerritories/artists/linda_abdullah",
);
---

<p>{JSON.stringify(tree)}</p>
<p>{JSON.stringify(relTree)}</p>
<ul>
  {
    config.vaults.map((vault) => (
      <li>
        <a href={`/${slugify(vault.repo)}`}>{vault.repo}</a>
      </li>
    ))
  }
</ul>
