---
import { getCollection } from "astro:content";
import { getConfig } from "../lib/config";
import { slugify } from "@/utils";
import { logger } from "@/lib/logger";

const config = getConfig();

// Load all collections
const collections = await getCollection("obsidianNotes");
const repoCol = collections.filter(
  (collection) => collection.data.repo === config.vaults[0].repo,
);
logger.debug("Index Page Config: ", config);
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{config.app.name || "Aura"}</title>
  </head>
  <body class="min-h-screen bg-base-200 flex justify-center items-center">
    <ul>
      {
        config.vaults.map((vault) => (
          <li>
            <a class="btn btn-lg btn-outline" href={`/${slugify(vault.repo)}`}>
              {vault.label}
            </a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
