---
import type { GetStaticPaths } from "astro";
import {getConfig} from "@/lib/config"
import { getCollection } from "astro:content";
import { throws } from "assert";
import Layout from "@/layouts/Layout.astro";
import { log } from "console";
export const getStaticPaths = (async () => {
  const { vaults } = getConfig()
  const paths = []

for (const vault of vaults)
{
    try {

    const entries = await getCollection(vault.repo)

    paths.push(...entries.map(entry => ({
      params: {
        vault: vault.repo,
        slug: entry.id,
      },
      props: {entry}
      })))
      
    }
    catch(error) {
      console.error(`The vault collection: ${vault.repo} not available`)
    }
  }

  console.log(paths)
  return paths
}) satisfies GetStaticPaths;

const { vault, slug } = Astro.params
const { entry } = Astro.props

---

<Layout>
  <article class="container mx-auto p-4 prose prose-slate">
    <h1>{entry.data.title}</h1>

  </article>
</Layout>
