---
import { VaultConfig } from "@/types";

interface Props {
  vault: VaultConfig;
}

const { vault } = Astro.props;
---

<footer class="footer footer-center py-6 lg:py-8 bg-base-200 text-base-content">
  <div class="flex flex-col md:flex-row gap-4 items-center">
    <p>Copyright © {new Date().getFullYear()} - {vault.label}</p>
  </div>
</footer>
