---

---

<main
  class="min-h-screen min-w-full bg-base-100 flex items-center justify-center"
>
  <div class="flex flex-col items-center gap-4 font-mono">
    <pre
      class="text-center whitespace-pre text-xs sm:text-sm">
 _   _       _                           _          _ 
| | | |_ __ | |__   ___  _   _ _ __   __| | ___  __| |
| | | | '_ \| '_ \ / _ \| | | | '_ \ / _` |/ _ \/ _` |
| |_| | | | | |_) | (_) | |_| | | | | (_| |  __/ (_| |
 \___/|_| |_|_.__/ \___/ \__,_|_| |_|\__,_|\___|\__,_|
|_   _|__ _ __ _ __(_) |_ ___  _ __(_) ___  ___       
  | |/ _ \ '__| '__| | __/ _ \| '__| |/ _ \/ __|      
  | |  __/ |  | |  | | || (_) | |  | |  __/\__ \      
  |_|\___|_|  |_|  |_|\__\___/|_|  |_|\___||___/      
    </pre>
    <div class="text-center text-gray-400 text-sm mt-4">
      <p class="text-xl text-zinc-700">OPENING: 2 MARCH @ 13:00-16:00 UTC</p>
    </div>

    <p class="mt-28">
      Site under maintenance! We’re sprucing things up and will be back shortly.
      Thanks for your patience! 🛠️
    </p>
  </div>
</main>
